/* .ce-chat-feed-container {
  background-color: #14171C !important;
  border-color: #14171C !important;
}

.ce-feed-container-top {
  background-color: #14171C !important;
  border-color: #14171C !important;
}
 

.ce-chats-container {
  background-color: #14171C !important;
  border-color: #14171C !important;
  border-radius: 0%;
}

.ce-chat-card {
  background-color: #23262E !important;
  border-color: #23262E !important;
}

.ce-active-chat-card {
  background-color: #8C7AE6 !important;
  border-color: #8C7AE6 !important;
}

.ce-chat-subtitle-text  {
  color: white !important;
}

.ce-chat-form-container {
  background-color: #14171C !important;
  color: white;
  border-color: #14171C !important;
}

.ce-settings {
  background-color: #14171C !important;
  color: white;
}

.ce-chat-list {
  background-color: #14171C !important;
  color: white;
  border-color: #14171C !important;
}


.ce-chat-title .ce-chat-title-text {
  
  color: #8C7AE6 !important;
}


.ce-chat-title {
  background-color: #14171C !important;
}

.ce-input {
  background-color: #23262E !important;
  border-color: #23262E;
}

.ce-message-form {
  background-color: #23262E !important;
  border-color: #23262E !important;
}

.ce-message-input-form {
  background-color: #14171C !important;
  border-color: #14171C !important;
}

.ce-input  {
  background-color: #14171C !important;
  border-color: #14171C !important;
  color: white !important;
}

.ce-textarea-input {
  background-color: #14171C !important;
  border-color: #14171C !important;
}

.msg-textarea {
  background-color: #14171C !important;
  border-color: #14171C !important;
}

.ce-primary-button  {
  background-color: #8C7AE6 !important;
}

.anticon-paper-clip {
  color: #8C7AE6 !important;
}

.ce-message-bubble {
  background-color: #8C7AE6 !important;
}
.ce-my-message-bubble {
  background-color: #8C7AE6 !important;
} */