.react-date-picker__inputGroup__month {
  color: white;
}

.react-date-picker__inputGroup__day {
  color: white;
}

.react-date-picker__inputGroup__year {
  color: white;
}

.react-date-picker__inputGroup__divider  {
  color: white;
}

.react-date-picker__inputGroup__input--hasLeadingZero {
  color: white;
}

.react-date-picker__inputGroup__input  {
  color: white;
}